S3method(eval_model,default)
export(apply.prototype)
export(autokey)
export(autokeys)
export(days_from_holiday)
export(days_to_holiday)
export(days_to_we_end)
export(divide)
export(eval_model)
export(featurize_date)
export(getImp)
export(mcrf)
export(parallelRandomForest)
export(predict.parallel)
export(prep_data)
export(prep_data_randomForest)
export(prep_score)
export(prep_train)
export(randomForest)
export(rf_test_names)
export(set_autokeys)
export(stitch)
export(varImpPlot2)
exportMethods(assess)
