S3method(eval_model,default)
S3method(predict,parallel)
export(apply.prototype)
export(assess)
export(days_from_holiday)
export(days_to_holiday)
export(days_to_we_end)
export(divide)
export(eval_model)
export(featurize_date)
export(getImp)
export(mcrf)
export(prep_data)
export(prep_data_randomForest)
export(prep_score)
export(prep_train)
export(rf_test_names)
export(varImpPlot2)
